body {
  background: radial-gradient(circle, #020617, #000);
  color: #e5e7eb;
  font-family: system-ui, sans-serif;
  text-align: center;
  padding-top: 40px;
}

.card {
  background: #020617;
  width: 340px;
  margin: auto;
  padding: 25px;
  border-radius: 18px;
  box-shadow: 0 0 25px #22d3ee;
}

input, button {
  width: 90%;
  padding: 10px;
  margin: 6px;
  border-radius: 10px;
  border: none;
}

button {
  background: #22d3ee;
  font-weight: bold;
  cursor: pointer;
}

button:hover {
  background: #06b6d4;
}

.hidden {
  display: none;
}
