body {
  background: #0f172a;
  color: white;
  font-family: Arial;
  text-align: center;
  padding-top: 40px;
}

.panel {
  background: #1e293b;
  width: 320px;
  margin: auto;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 0 15px #38bdf8;
}

input, button {
  width: 90%;
  padding: 8px;
  margin: 6px;
  border-radius: 8px;
  border: none;
}

button {
  background: #38bdf8;
  font-weight: bold;
}

.hidden {
  display: none;
}
